@font-face {
    font-family: "Christmas-text";
    src: url("../fonts/christmas.otf");
}
@font-face {
    font-family: "Christmas-header";
    src: url("../fonts/christmas-candy.ttf");
}

/* Christmas*/
.christmas body {
    --site-font-family: Christmas-text;
    --header-font-family: Christmas-header, Christmas-text;
    --menu-font-size: 18px;
    font-size: 20px;
}
.christmas #header #logo {
    margin: 16px 0 0;
}
.christmas .article {
    margin-left: -10px;
    margin-right: -10px;
}
.christmas .theme__text_header,
.christmas .heading,
.christmas h3,
.christmas h1,
.christmas .latest article .txtwrap .heading {
    font-size: 1.6rem;
    color: #f00;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: #0f0;
}
.christmas #pageintro p {
    font-size: unset;
}
.christmas #header #logo h1 {font-size: 48px}
.christmas .row3 {
    background-image: url('../../images/special/christmas.jpg');
    background-size: 100%;
}
.christmas .settings-body {
    background-image: url('../../images/special/christmas.jpg');
    background-size: 100%;
}
.christmas .themes__checkbox,
.christmas .settings__themes {
    background: #fffb;
}
.christmas .theme__text_description {
    font-size: 18px;
}
.christmas .footer__donate-button {
    font-size: 16px;
}
.christmas #footer .heading {
    color: #0000;
}
.christmas .font-x1 a {
    color: #f00;
}
.christmas .latest article .txtwrap,
.christmas .one_quarter .header,
.christmas .preimushestvo-wrapper,
.christmas .content,
.christmas .header404,
.christmas .article,
.christmas .text404,
.christmas .checkbox-container,
.christmas .text-for-background ,
.christmas .row3 .sectiontitle,.red-october .latest article .txtwrap {
    background-color: #F8F8F8DD;
}
@media screen and (max-width: 900px) {
    .christmas #header #logo {
        margin: 0;
        width: 100%;
    }
    .christmas #header {
        padding: 15px 0;
    }
}
/*end of christmas*/
