/* Dark*/
.dark-theme {
    scrollbar-color: #ff9118 #0d0d0d;
    scrollbar-width: auto;
    scroll-behavior: smooth;
}
.dark-theme ::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:5px;
    height:0;
}
.dark-theme ::-webkit-scrollbar-track {
    background-color: #0d0d0d;
}
.dark-theme ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #ff9118;
}
.dark-theme ::-webkit-scrollbar-thumb:hover{
    background-color: #56999f;
}
.dark-theme ::-webkit-scrollbar{
    width: 15px;
}
.dark-theme .row1 {
    background: #000b;
}
.dark-theme .settings-body,
.dark-theme .row3 {
    background: #111;
    color: #838383;
}
.dark-theme .row4 {
    background-color: #0D0D0D;
}
.dark-theme .transbox {
    background-color: rgba(10,13,10,.55);
}
.dark-theme .row5,
.dark-theme .latest article .txtwrap,
.dark-theme .footer__donate-button,
.dark-theme .images-container li .header,
.dark-theme .settings-menu,
.dark-theme .faico a {
    background: #0a0a0a;
}
.dark-theme .settings-menu__item {
    background: #030303;
}
.dark-theme .images-container li .date {
    background: #0d0d0dd4;
    color: #838383;
}
.dark-theme .settings-menu__close-button {
    color: #999;
}
.dark-theme .settings-button-container__close {
    background: #0d0d0dbb;
}
.dark-theme .themes__checkbox {
    color: #838383;
}
.dark-theme .theme {
    border-bottom-color: #444;
}
.dark-theme .theme__text_header {
    color: #aaa;
}
.dark-theme .theme__text_description {
    color: #838383;
}
.dark-theme .search-container input,
.dark-theme #input-cod,
.dark-theme .search-icon-container {
    background: #181818;
    border-color: #000;
}
.dark-theme .close-icon-container {
    color: inherit;
}
.dark-theme .variant__menu-item {
    border-bottom-color: #999 !important;
}
.dark-theme #tarif-table tr th,
.dark-theme #tarif-table tr td {
    background-color: #060606;
}
.dark-theme #tarif-table tr:nth-child(2n) th,
.dark-theme #tarif-table tr:nth-child(2n) td {
    background-color: #0f0f0f;
}
.dark-theme table,
.dark-theme th,
.dark-theme td,
.dark-theme #comments .avatar,
.dark-theme #comments input,
.dark-theme #comments textarea {
    border-color: #666;
}
.dark-theme #tarif-table th,
.dark-theme #tarif-table td {
    color: inherit;
}
.dark-theme .selector,
.dark-theme .article {
    background: #080808;
}
.dark-theme #menu {
    background: #111111e8;
}
.dark-theme .menu__link {
    border-bottom-color: #555;
}
.dark-theme .mainav ul ul ul.menu__list_list a {
    background: #000000CF;
}
.dark-theme .preloader-container {
    background: #000000b0;
}
.dark-theme .preloader .block:nth-child(2n) .square {
    background: #333;
}
.dark-theme .settings-button:hover {
    border-right-color: #1d1d1d;
}
.dark-theme .page-unavailable {
    background: #111;
    color: #838383;
}
/*end of dark*/
