@font-face {
    font-family: "Halloween-text";
    src: url("../fonts/halloween.otf");
}
@font-face {
    font-family: "Halloween-header";
    src: url("../fonts/halloween-header.ttf");
}

/*Halloween*/
.halloween {
    scrollbar-color: #ff911899 #111435;
}
.halloween .preloader-container {
    background: #111435bb;
}
.halloween body {
    font-size: 18px;
    --menu-font-size: 20px;
    --site-font-family: Halloween-text;
    --header-font-family: Halloween-header, Halloween-text;
}
.halloween #menu {
    background: #111435e8;
}
.halloween .latest article .txtwrap .heading {
    font-size: 29px;
    background: linear-gradient(#ffe300, #ff0303);
    -webkit-background-clip: text;
    color: transparent;
}
.halloween #header #logo h1 {font-size: 48px}
.halloween #header #logo {
    margin-top: 20px;
}
.halloween #header #logo a {
    background: linear-gradient(#ffe300, #ff0303);
    -webkit-background-clip: text;
    color: transparent;
}
.halloween .row3 {
    background: url('../../images/special/halloween-backgroung.jpg') repeat;
    background-size: contain;
}
.halloween .instruction h3 {
    font-size: 29px;
}
.halloween .heading,
.halloween h1,
.halloween h2,
.halloween h3,
.halloween h4,
.halloween h5,
.halloween h6 {
    background: linear-gradient(#ffe300, #ff0303);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 29px;
}
.halloween .row3 {
    color: #c6c6c6;
}
.halloween .about-work {
    color: #c6c6c6;
}
.halloween #activation {
    background: #191D4CAB;
    border: solid 2px var(--company-color);
    color: var(--company-color);
}
.halloween #activation:hover {
    background: var(--company-color);
    color: #191D4CAB;
}
.halloween tr {
    background: #FBFBFB88;
}
.halloween #tarif-table tr th,
.halloween #tarif-table tr td {
    background-color: #FBFBFB88;
}
.halloween #tarif-table tr:nth-child(2n) th, .halloween #tarif-table tr:nth-child(2n) td {
    background-color: #F7F7F788;
}
.halloween tr:nth-child(2n), .halloween #comments li:nth-child(2n) {
    color: inherit;
    background-color: #F7F7F755;
}
.halloween .selector {
    color: #474747;
}
.halloween .donater__icon {
    color: #004;
}
.halloween .cost-sale {
    color: #c6c6c6;
}
.halloween .settings-body {
    background: #111435e8;
}
.halloween .settings-menu {
    background: #1a1f51;
}
.halloween .settings-menu__item {
    background: #0e102d;
}
.halloween .settings-button:hover {
    border-right-color: #0e102de8;
}
.halloween .theme__text_description,
.halloween .themes__checkbox,
.halloween .settings-menu__close-button {
    color: #999;
}
.halloween .latest article .txtwrap,
.halloween .one_quarter .header,
.halloween .preimushestvo-wrapper,
.halloween .content,
.halloween .header404,
.halloween .article,
.halloween .text404 {
    background-color: #191D4C75;
}
.halloween #footer .heading {
    background: linear-gradient(#ff8300, #f00);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
}
.halloween #input-cod {
    background-color: #191D4CAB;
    border-color: #191D4C;
}
.halloween .uslugi-container a {
    background: #191D4C75;
}
.halloween .font-x1 {font-family: Halloween-text; font-size: 20px;}
.halloween .theme__text_description {
    font-size: 16px;
}
.halloween .theme__text_button {
    padding-top: 2px;
    padding-bottom: 6px;
}
@media screen and (max-width: 900px) {
    .halloween #header #logo {
        margin: 0;
        width: 100%;
    }
    .halloween #header {
        padding: 15px 0;
    }
}
/*end of Halloween*/
