@font-face {
    font-family: "Dobro";
    src: url("../fonts/FontOfKindness.otf");
}

@font-face {
    font-family: "USSR";
    src: url("../fonts/USSR-main.ttf");
}
@font-face {
    font-family: "redoctoberlight";
    src: url("../fonts/red october/RedOctoberLight.ttf"),
    url("../fonts/red october/RedOctoberLight.eot"),
    url("../fonts/red october/RedOctoberLight.woff2"),
    url("../fonts/red october/RedOctoberLight.woff");
}
@font-face {
    font-family: "redoctober";
    src: url("../fonts/red october/RedOctober.ttf"),
    url("../fonts/red october/RedOctober.eot"),
    url("../fonts/red october/RedOctober.woff2"),
    url("../fonts/red october/RedOctober.woff");
}
/*red october*/
.red-october body {
    --site-font-family: USSR, redoctoberlight, Verdana, Geneva, sans-serif;
    --header-font-family: USSR, redoctoberlight;
    --company-color: #f00;
    font-size: 13px;
}
.red-october #footerContainer {
    font-size: 12px;
}
.red-october .footer__donate-button {
    font-size: 9px;
}
.red-october #footer .heading {
    font-size: 16px;
}
.red-october #footer .font-x1 {
    font-size: 16px;
}
.red-october .heading,
.red-october h1,
.red-october h2,
.red-october h3,
.red-october h4,
.red-october h5,
.red-october h6 {
    font-size: 18px;
}
.red-october #pageintro p {
    font-size: 14px;
}
.red-october .row3 {
    background-image: url('../../images/special/red-october-background.jpg');
    background-size: 100%;
    background-position-x: center;
    background-repeat: repeat-y;
}
.red-october .settings-button {
    border-right-color: #f00c;
}
.red-october .one_quarter .header,
.red-october .preimushestvo-wrapper,
.red-october .content,
.red-october .header404,
.red-october .article,
.red-october .text404,
.red-october .checkbox-container,
.red-october .text-for-background ,
.red-october .row3 .sectiontitle {
    background-color: #F8F8F8DD;
}
/*end of red october*/