/*united Russia*/
.united-Russia #header #logo {
    margin-top: 21px;
}
.united-Russia #header #logo a {
    background: linear-gradient(to bottom, #fff, #fff, #fff, #00f, #f00, #f00, #f00);
    -webkit-background-clip: text;
    color: transparent;
    /*font-weight: bold;*/
    font-size: 33px;
}
.united-Russia #header #logo a {}
.united-Russia #header #logo a:hover,
.united-Russia #header #logo ::first-letter {
    font-weight: bold;
    color: transparent;
}
.united-Russia .mainav li li a {
    border-width: 0 1px 1px;
}
.united-Russia .mainav li li:hover > a {
    background: linear-gradient(to bottom, #fff, #fff, #00f, #f00, #f00);
}
.united-Russia .mainav .active a,
.united-Russia .mainav a:hover,
.united-Russia .mainav li:hover > a {
    color: transparent;
    background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #00f, #f00, #f00, #f00, #f00, #f00, #f00, #f00, #f00, #f00);
    -webkit-background-clip: text;
}
.united-Russia .header__links-button_icon:nth-child(1) {
    background: #fff;
}
.united-Russia .header__links-button_icon:nth-child(2) {
    background: #00f;
}
.united-Russia .header__links-button_icon:nth-child(3) {
    background: #f00;
}
.united-Russia .menu__list_list_link a:hover,
.united-Russia .menu__list_list_link a.active,
.united-Russia .menu__link.active,
.united-Russia .menu-wrapper #menu .menu__link:hover {
    background: linear-gradient(to bottom, #fff, #fff, #00f, #f00, #f00) !important;
    -webkit-background-clip: border-box !important;
}
.united-Russia .btn {
    background: linear-gradient(to bottom, #fff, #fff, #00f, #f00, #f00);
    border-color: #aaa;
}
.united-Russia .btn:hover {
    color: var(--company-color);
    background: #62626221;
}
.united-Russia .row3 {
    background-color: #fff;
    background-image: url('../../images/special/united-Russia-background.png');
    background-size: auto;
    background-repeat: repeat;
    background-position-x: center;
}
.united-Russia .latest article .txtwrap,
.united-Russia .one_quarter .header,
.united-Russia .preimushestvo-wrapper,
.united-Russia .content,
.united-Russia .header404,
.united-Russia .article,
.united-Russia .text404,
.united-Russia .checkbox-container,
.united-Russia .text-for-background ,
.united-Russia .row3 .sectiontitle {
    background-color: #F8F8F8DD;
}
.united-Russia .text-for-background .sectiontitle {
    background-color: transparent;
}
.united-Russia .znachok-background,
.united-Russia .donater__icon-background {
    background: linear-gradient(to bottom, #fff, #fff, #00f, #f00, #f00);
}
.united-Russia .recommendation-button {
    background: linear-gradient(to bottom, #fff, #fff, #00f, #f00, #f00);
}
@media screen and (max-width: 900px) {
    .united-Russia #header #logo {
        margin: 0;
        width: 100%;
    }
}
/*end of united Russia*/