body {
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
}

h1 {
    margin-top: 0;
}

h2 {
    line-height: 1.2;
    font-family: Montserrat, sans-serif;
    margin: 26px 0 0;
    font-weight: 400;
    font-size: 3rem;
}

main section {
    max-width: 1140px;
    margin: auto;
}

/* HEADER start ---------------------------------------------------*/

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff23;
}

.header-nav {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 15px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

#logo img {
    height: 40px;
}

.header-nav nav {
    margin: 0 25px;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.nav-link svg {
    height: 24px;
}

.header {
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/0368ac4b59b75190a2cd6f0c/-min.jpg");
    background-position: 63.21% 50%;
    overflow: visible;
    color: #ffffff;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .header__text-container {
    padding-top: 80px;
    user-select: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header__text-container a {
    color: #ffffff !important;
    text-decoration: none;
}

.header__text-container h1 {
    word-wrap: break-word;
    position: relative;
    line-height: 1.1;
    font-size: 4.5rem;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    width: 770px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin: 60px auto 0;
}

.header .u-text-1 {
    font-size: 4.5rem;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    width: 770px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin: 60px auto 0;
}

.header .u-text-2 {
    width: 770px;
    margin: 40px auto 0;
    font-size: 20px;
}

.header .u-btn-6 {
    border-style: solid;
    align-self: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px auto 0;
    padding: 10px 57px 10px 55px;
}

.header .u-text-3 {
    font-size: 1.25rem;
    width: 307px;
    margin: 122px auto 60px;
}

.header .u-btn-7 {
    border-style: solid;
    border-width: 0 0 1px;
    padding: 0;
}

@media (max-width: 991px) {
    .header .u-text-1 {
        font-size: 3.4375rem;
        width: 720px;
    }
    .header .u-text-2 {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .header .u-text-1 {
        font-size: 3rem;
        width: 540px;
        margin-top: 90px;
    }
    .header .u-text-2 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .header .u-text-1 {
        font-size: 2.125rem;
        width: 340px;
        margin-top: 60px;
    }
    .header .u-text-2 {
        width: 340px;
    }
    .header .u-text-3 {
        font-size: 1.125rem;
        width: auto;
        margin-top: 53px;
        margin-left: 17px;
        margin-right: 17px;
    }
}

/* HEADER end -----------------------------------------------------*/
/* ABOUT start ----------------------------------------------------*/

#about {
    max-width: none;
}

.about__head {
    background: linear-gradient(#040a3900, #060d3d 80px, #232b79);
    height: 533px;
    margin-top: -80px;
}

.about__background {
    color: #111111;
    background-color: #b8bef0;
    width: 603px;
    height: 597px;
    background-image: none;
    margin: -239px auto 0 calc(((100% - 1140px) / 2));
}

.about__text-container {
    background-color: #ffffff;
    width: 716px;
    height: 742px;
    background-image: none;
    margin: -756px calc(((100% - 1140px) / 2)) 0 auto;
}

.about__text-container_container {
    padding: 30px 17px;
    margin: 0 auto;
    max-width: 614px;
    width: 100%;
    box-sizing: border-box;
}

.about__text-container_container p {
    font-size: 1.25rem;
    font-style: italic;
    margin: 22px 0 0;
}

.about__image {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #111111;
    width: 811px;
    height: 707px;
    object-position: 50% 50%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
    margin: -362px auto 0 calc(((100% - 1140px) / 2) + 96px);
}

.about__text-container_more-btn {
    background-image: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    border-style: none;
    margin: 36px auto 0 0;
    padding: 16px 48px 16px 47px;
    color: #ffffff;
    background-color: #232b79;
    display: table;
}

@media screen and (max-width: 1199px) {
    .about__background {
        margin-left: calc(((100% - 940px) / 2));
    }
    .about__text-container {
        width: 683px;
        margin-right: calc(((100% - 940px) / 2));
    }
    .about__image {
        width: 748px;
        height: 689px;
        margin-top: -320px;
        margin-left: auto;
    }
}

@media screen and (max-width: 991px) {
    .about__background {
        margin-left: calc(((100% - 720px) / 2));
    }
    .about__text-container {
        width: 599px;
        margin-right: calc(((100% - 720px) / 2));
    }
    .about__image {
        width: 566px;
        height: 541px;
        margin-top: -280px;
    }
}

@media screen and (max-width: 767px) {
    .about__background {
        width: 540px;
        margin-left: auto;
    }
    .about__text-container {
        width: 493px;
        margin-right: calc(((100% - 540px) / 2));
    }
    .about__image {
        width: 540px;
        height: 516px;
        margin-top: -228px;
    }
}

@media screen and (max-width: 575px) {
    .about__background {
        width: 340px;
    }
    .about__text-container {
        width: 350px;
        margin-right: calc(((100% - 390px) / 2));
    }
    .about__image {
        width: 340px;
        height: 325px;
        margin-top: -194px;
    }
}

/* ABOUT end ------------------------------------------------------*/
/* DEMONSTRATION start --------------------------------------------*/

#demonstration {
    padding: 50px;
}

#demonstration .video-container {
    margin: 25px -40px 0;
}

#demonstration .video-container video {
    margin: auto;
    display: block;
    max-width: 100%;
}

@media screen and (min-width: 822px) {
    #demonstration .video-container {
        margin-left: 0;
        margin-right: 0;
    }
}

/* DEMONSTRATION end ----------------------------------------------*/
/* DOWNLOAD start -------------------------------------------------*/

.scrollable-table-container {
    margin-top: 20px;
    overflow: auto;
    border: solid 2px #000;
}

#download {
    padding: 0 50px 50px;
}

.download-table-container {}

.download-table {
    border-collapse: collapse;
}

.download-table.vertical {
    display: none;
}

.download-table td,
.download-table th {
    border: solid 2px black;
    padding: 15px;
}

.scrollable-table-container .download-table>tbody>tr>th:first-child,
.scrollable-table-container .download-table>tbody>tr>td:first-child {
    border-left: none;
}

.scrollable-table-container .download-table>tbody>tr>th:last-child,
.scrollable-table-container .download-table>tbody>tr>td:last-child {
    border-right: none;
}

.scrollable-table-container .download-table>tbody>tr:first-child>th,
.scrollable-table-container .download-table>tbody>tr:first-child>td {
    border-top: none;
}

.scrollable-table-container .download-table>tbody>tr:last-child>th,
.scrollable-table-container .download-table>tbody>tr:last-child>td {
    border-bottom: none;
}

.scrollable-table-container .download-table>tbody>tr>td:nth-child(3) {
    min-width: 300px;
}

@media screen and (max-width: 780px) {
    .scrollable-table-container.horizontal {
        display: none;
    }
    .vertical.download-table {
        display: table;
    }
}

/* DOWNLOAD end ---------------------------------------------------*/
