/* Основной цвет: #FF9118*/

@import url("font-awesome.min.css");
@import url("framework.css");

.ads-container {margin: 20px 0 !important;}

.preloader-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffffffb0;
	z-index: 1001;
}
.preloader {
	width: max-content;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.preloader .block {
	border: none;
	width: 70px;
	height: 26px;
	transform-origin: 100% 13px;
	transform: rotate(0deg);
	position: absolute;
	margin: -13px 0 0 -70px;
}
.preloader .block:nth-child(1) {transform: rotate(45deg);}
.preloader .block:nth-child(2) {transform: rotate(90deg);}
.preloader .block:nth-child(3) {transform: rotate(135deg);}
.preloader .block:nth-child(4) {transform: rotate(180deg);}
.preloader .block:nth-child(5) {transform: rotate(225deg);}
.preloader .block:nth-child(6) {transform: rotate(270deg);}
.preloader .block:nth-child(7) {transform: rotate(315deg);}
.preloader .block:nth-child(8) {transform: rotate(360deg);}
.square {
	border: 1px solid black;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: var(--company-color);
	background-size: contain;
	transform: rotate(-90deg);
	}
.preloader .block:nth-child(2n) .square {
	background: #fff;
	background-size: contain;
}

.page-unavailable {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #bbb;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0 15%;
    font-size: 21px;
    text-align: center;
    z-index: 5;
}

html {
	scrollbar-color: #ff911899 #eee;
	scrollbar-width: auto;
	scroll-behavior: smooth;
	--company-color: #FF9118;
	--menu-font-size: 14px/*
	--site-font-family: Verdana, Geneva, sans-serif;
	--header-font-family: Georgia, "Times New Roman", Times, serif;*/
}

::-webkit-scrollbar-button {
	background-repeat:no-repeat;
	width:5px;
	height:0;
}
::-webkit-scrollbar-track {
	background-color: #eee;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: #ff911899;
}
::-webkit-scrollbar-thumb:hover{;
	/*opacity: 1;*/
}
::-webkit-scrollbar{
	width: 15px;
}

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row {padding: 40px 0; text-align: center;}
.row1{border-bottom:1px solid;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding: 0 30px;}

#header #logo{margin:30px 0 0 0;  display: flex; justify-content: space-between;}
#header #logo h1{margin:0; padding:0; font-size:22px;}

.header__links-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}

.header__links-button_icon {
	background: var(--company-color);
	border-color: transparent;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-top: 4px;
}

#menu {
	display: none;
	padding: 0 30px;
	background: #ececece8;
}

.menu-wrapper {
	position: absolute;
	z-index: 1000;
	left: 0;
	right: 0;
}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:200px 0;}
#pageintro *{word-wrap:break-word;}
#pageintro .transbox{display:block; max-width:50%; padding:30px;}
#pageintro .heading{margin-bottom:20px; font-weight:400;}
#pageintro p{margin:0; padding:0; font-size:1.2rem;}
#pageintro footer{margin-top:30px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:60px 0;}

/* Content */

.sectiontitle{display:block; max-width:55%; margin:0 auto 40px; text-align:center;}
#title {margin-bottom: 80px;}
.sectiontitle *{margin:0;}
.sectiontitle h6{margin-bottom:15px;}

.testimonials article *{margin:0; padding:0;}
.testimonials article img{margin-bottom:20px; border-radius:50%;}
.testimonials article blockquote{margin-bottom:20px; padding:20px;}
.testimonials article blockquote::before{top:5px; left:5px; font-size:30px; line-height:30px;}
.testimonials article em{display:block; margin-top:-5px; font-size:.8rem; font-style:normal;}

.elements li:nth-child(-n+3){margin-bottom:50px;}/* Adds bottom margin to the first two elements only */
.elements > li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.elements article{display:block; position:relative; min-height:80px; padding:0 0 0 70px;}
.elements article::before, .elements article::after{display:table; content:"";}
.elements article::after{clear:both;}
.elements article *{margin:0 0 15px 0;}
.elements article > :last-child{margin-bottom:0;}
.elements article i{display:block; position:absolute; top:0; left:0; width:50px; height:50px; line-height:48px; margin:0; border:1px solid; text-align:center; font-size:20px;}
.elements article .heading{font-size:1.2rem;}

.latest article figure{display:block; position:relative;}
.latest article figure figcaption{position:absolute; top:10px; left:10px; width:50px;}
.latest article figure figcaption *{display:block; margin:0; padding:0; text-align:center; text-transform:uppercase; font-style:normal; line-height:1;}
.latest article figure figcaption time{width:100%;}
.latest article figure figcaption time strong{padding:12px 0; font-size:18px;}
.latest article figure figcaption time em{padding:8px 0;}
.latest article .txtwrap{padding:25px 20px;}
.latest article .txtwrap .heading{margin:0; font-size:1.2rem;}
.latest article .txtwrap .meta li{display:inline-block; font-size:.8rem;}
.latest article .txtwrap .meta li::after{margin-left:5px; content:"|";}
.latest article .txtwrap .meta li:last-child::after{margin:0; content:"";}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}

#footer input, #footer button{border:1px solid;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
This gives a smooth transition to "ALL" elements used in the layout - other than the navigation form used in mobile devices
If you don't want it to fade all elements, you have to list the ones you want to be faded individually
Delete it completely to stop fading
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .28s ease-in-out;}
.mainav form *{transition:none !important;}


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

.mainav, #breadcrumb, .sidebar nav{line-height:normal;}
.mainav .drop::after, .mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
.mainav ul.clear{margin-top:3px;}
.mainav ul{text-transform:uppercase;}
.mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
.mainav ul ul ul{left:180px; top:0;}
.mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
.mainav li:last-child{margin-right:0;}
.mainav li li{width:100%; margin:0;}
.mainav li a{display:block; padding:30px 0; font-size: var(--menu-font-size);}
.mainav li li a{border:solid; border-width:0 0 1px 0;}
.mainav .drop{padding-left:15px;}
.mainav li li a, .mainav li li .drop{display:block; margin:0; padding:10px 15px;}
.mainav .drop::after, .mainav li li .drop::after{content:"\f0d7";}
.mainav .drop::after{top:35px; left:5px;}
.mainav li li .drop::after{top:15px; left:5px;}
.mainav ul ul{visibility:hidden; opacity:0;}
.mainav ul li:hover > ul{visibility:visible; opacity:1;}

.mainav form{display:none; margin:0; padding:0;}
.mainav form select, .mainav form select option{display:block; cursor:pointer; outline:none;}
.mainav form select{width:100%; padding:5px; border:1px solid;}
.mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:120px 0 15px;}
#breadcrumb ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:#FFFFFF; background-color:#0F1620;}
.blue-theme .faico a {background-color: #0c0622;}

.faicon-facebook:hover{background-color:#3B5998;}
.faicon-twitter:hover{background-color:#00ACEE;}
.faicon-vk:hover{background-color:#4E658E;}
.faicon-instagram:hover{background-color:#FF69B4;}
.faicon-youtube:hover{background-color:red;}
.faicon-telegram:hover{background-color:#0088cc;}


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#A8A7A6; background-color:#0F1620;}
a{color:var(--company-color);}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#F4F4F4;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:var(--company-color);}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(27,32,38,.55);/* #1B2026 */}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.8);}
.overlay.coloured::after{background-color:rgba(255,145,24,.4); /* var(--company-color) */}

.btn, .btn.inverse:hover, .dark-theme .theme .btn:hover {color:#FFFFFF; background-color:var(--company-color); border-color:var(--company-color);}
.btn:hover, .btn.inverse, .dark-theme .theme .btn {color:inherit; background-color:transparent; border-color:inherit;}


/* Rows */
.row1{color:#FFFFFF; background-color:rgba(27,32,38,.3);/* #1B2026 */ border-color:rgba(255,255,255,.1);}
.row2{color:#474747; background-color:rgba(255,255,255,.8);}
.row3{color:#474747; background-color:#FFFFFF; padding: 20px 50px;}
.row4{color:#A8A7A6; background-color:#1B2026;}
.row5, .row5 a{color:#A8A7A6; background-color:#0F1620;}
.blue-theme .row1 {background-color: #13083cb0;}
.blue-theme .row3 {background-color: #0a0420; color: inherit;}
.blue-theme .row4 {background-color: #060115;}
.blue-theme .row5 {background-color: #04010b;}


/* Header */
#header #logo a{color:inherit;}
#header #logo a:hover, #header #logo ::first-letter{color:var(--company-color);}


/* Page Intro */
#pageintro .transbox{color:#FFFFFF; background-color:rgba(27,32,38,.55);/* #1B2026 */}
.blue-theme #pageintro .transbox{background-color: #0a0420dd;}


/* Content Area */
.elements article i{border-color:var(--company-color); background-color:rgba(255,255,255,.2);}
.elements article:hover i{color:#FFFFFF; background-color:var(--company-color);}

.testimonials article blockquote{color:#474747; background-color:#FFFFFF;}
.testimonials article blockquote::before{color:rgba(0,0,0,.1);}

.latest article figure figcaption{color:#FFFFFF;}
.latest article figure figcaption time strong{background-color:#1B2026;}
.latest article figure figcaption time em{background-color:#1B2026;}
.latest article .txtwrap{color:inherit; background-color:#F8F8F8;}
.blue-theme .latest article .txtwrap{background-color: #0d0628;}


/* Footer */
#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.1);}

#footer input, #footer button{border-color:transparent;}
#footer input{color:#FFFFFF; background-color:#0F1620;}
#footer input:focus{border-color:#59A209;}
#footer button{color:#FFFFFF; background-color:var(--company-color);}


/* Navigation */
.mainav li a{color:inherit;}
.mainav .active a, .mainav a:hover, .mainav li:hover > a{color:var(--company-color); background-color:inherit;}
.mainav li li a, .mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
.mainav li li:hover > a, .mainav .active .active > a{color:#FFFFFF !important; background-color:var(--company-color) !important;}
.mainav form select{color:#FFFFFF; background-color:#0F1620; border-color:rgba(255,255,255,.2);}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:var(--company-color);}

.container .sidebar nav a{color:inherit; border-color:#F4F4F4;}
.container .sidebar nav a:hover{color:var(--company-color);}

.pagination a, .pagination strong{border-color:#F4F4F4;}
.pagination .current *{color:#FFFFFF; background-color:var(--company-color);}

#backtotop{color:#FFFFFF; background-color:var(--company-color);}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#F4F4F4;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:var(--company-color);}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{
		max-width:978px !important;
		padding-right: 10px;
		padding-left: 10px;
	}
}

::selection {
 color:#fff; 
 background:var(--company-color);
}


.cost {color: black; }
.cost-sale {text-decoration: line-through; color: black; }
.sale {color: var(--company-color); }
.cost-text {margin: 30px 0 0 0; text-align: center; display: flex; align-items: center; font-size: 20px; border: solid 1px var(--company-color); cursor: pointer; min-height:50px; justify-content: center}
.cost-text:hover{background-color: var(--company-color)}
.cost-text:hover .cost,
.cost-text:hover .sale,
.cost-text:hover .cost-sale {color: #fff;}

.active {
	color: var(--company-color) !important;
}

.preimushestva-container-wrapper {
	font-size: 15px;
}

.preimushestva-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.preimushestvo-wrapper,
.donater {
	width: 31.28834355828221%;
	margin: 30px 1px 0;
	min-width: min-content;
	text-align: center;
}

.znachok-background,
.donater__icon-background {
	height: 100px;
	width: 100px;
	background: var(--company-color);
	border-radius: 50%;
	margin: 0 auto 10px;
	position: relative;
}

.donater__icon-background img {
	border-radius: 50%;
}

.preimushestvo-wrapper h3 {
	width: max-content;
	text-align: center;
	margin: auto;
	padding-bottom: 5px;
}

.znachok-background img {
	height: 70%;
	margin: 15% auto;
}

.feedback-container {
	font-size: 17px;
}

.feedback-row {
	padding: 5px 0;
}

.about-work {
	padding:  30px 0;
	text-align: center;
	font-size: 16px;
	color: #5b5b5b;
}

.uslugi-container {
	font-size: 16px;
}

.otzyvy-container {
	width: 100%;
	height: 600px;
	margin: 10px 0 0;
}

.plateg-link img {
	height: 35px;
	border-radius: 10px;
	margin: 5px;
}

.goals__header {
	font-size: 18px;
	margin: 20px;
}

.number-of-dolg {
	margin-top: 20px;
}

.donater__icon {
	font-size: 101px;
}

.donater__citata {
	font-style: italic;
}

.instruction {
	max-width: 550px;
	margin: auto;
}

.instruction__item {
	padding: 15px 0;
}

.instruction__item ul,
.complect-list {
	text-align: left;
	list-style: square inside;
}

.complect-list li::marker {
	font-size: 25px;
}

.instruction__item li,
.complect-list li {
	padding: 5px 0;
}

.instruction h3 {
	font-size: 18px;
}

.footer__plateg {
	padding: 20px 10px 0;
}

.footer__plateg:first-child {
	padding-right: 0;
}

.footer__donate-button {
	padding: 10px 20px;
	background: #0F1620;
	border-radius: 10px;
}

.blue-theme .footer__donate-button {background-color: #0c0622;}

.complete {
	position: absolute;
	top: -1px;
	left: -1px;
	font-size: 90px;
	color: #009100;
	padding: 5px;
	background: #c6c6c6cc;
	border-radius: 50%;
	border: solid 1px;
}

.no-complete {
	display: none;
}

.locked-container {
	background: #FF0000;
	color: #fff;
	padding: 75px 50px;
	text-align: center;
}

.locked-container a {
	color: #000;
}

.locked-container h3 {

}

.locked-container__icon-container {
	font-size: 160px;
}

.dolgs__input-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dolgs__input-container span {
	padding-right: 5px;
}

.no-dolgs {
	text-align: center;
	font-size: 16px;
	padding: 50px 0 0;
}

#about p {
	margin: 5px 0 0;
}

.mainav li li.drop {
	padding: 0;
}

.mainav li li.drop::after {
	top: 15px;
	left: 5px;
}

.mainav li li.drop.menu__link::after {
	top: 35px;
	left: 5px;
	color: #fff !important;
}

.mainav li li.menu__link:first-child {
	border-top: solid 1px #FFFFFF;
}

.mainav li li li.menu__link:first-child {
	border-top: solid 1px #FFFFFF;
}

.mainav ul ul ul.menu__list_list {
	left: 0;
	top: 80px;
}

.mainav ul ul ul.menu__list_list a {
	background: #ffc586f0;
}

.mainav ul ul ul.menu__list_list a.active {
	background: var(--company-color);
}

#about.row,
#about-pages {
	text-align: left;
}

.row h3 {
	text-align: center;
}

.selector {
	background: #f0f0f0;
	padding: 0 50px;
}

.variant__cost {
	font-size: 17px;
}

.article {
	padding: 40px 15px;
	margin: -40px 0 40px;
	background: #f7f7f7;
}

.article time {
	color: #999;
}

.article__content {
	padding: 20px 0 0;
}

.article-link:hover {
	cursor: pointer;
}

.none {
	display: none;
}

.complect-list li {
	max-width: 500px;
	margin: auto;
}

#input-cod {
	margin: auto;
	max-width: 400px;
	height: 200px;
	width: 100%;
	padding: 5px;
}

#activation {
	margin: 10px auto 0;
}

.variant-body {
	padding: 0 0 20px;
}

/*.selector__image-container {*/
/*	padding: 0 50px;*/
/*}*/

.variant__menu {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin: 0 -50px;
	padding: 14px;
}

.variant__menu-item {
	width: max-content;
	border-bottom: solid 2px #000;
}

.variant__menu-item:hover {
	cursor: pointer;
}

.variant-body a {
	border-bottom: solid 1px var(--company-color);
}

#tarif-table th,
#tarif-table td {
	color: #000;
	border: solid 1px #888;
	vertical-align: middle;
}

#tarif-table tr th,
#tarif-table tr td {
	background-color: #FBFBFB;
}

#tarif-table tr:nth-child(2n) th,
#tarif-table tr:nth-child(2n) td {
	background-color: #F7F7F7;
}

.positive {
	color: #00FF00;
}

.negative {
	color: #FF0000;
}

.positive,
.negative {
	font-size: 20px;
}

.spinner {
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#status {
	color: var(--company-color);
	padding: 5px 0;
}

#status .positive,
#status .negative,
#status .spinner {
	font-size: 16px;
}

#status i {
	margin: 0 5px 0 0;
}

.expires-container {
	padding: 10px 0 0;
	font-size: 18px;
}

.table-container {
	overflow: auto;
	margin: 0 -40px;
	border: solid #888 1px;
}

.table-container table {
	margin: 0;
}

.table-container tr .cell:last-child {
	border-right: none !important;
}

.table-container tr .cell:first-child {
	border-left: none !important;
	width: min-content;
}

.table-container tr:first-child .cell {
	border-top: none !important;
}

.table-container tr:last-child .cell {
	border-bottom: none !important;
}

.row3 .hoc {
	max-width: 100%;
}

.widget-container iframe {
	width: 100%;
	height: 700px;
	border: 0;
}

.checkbox-container-wrapper {
	padding: 0 0 40px;
	margin: -40px 0 0;
}

.checkbox-container {
	text-align: left;
}

.checkbox-container span {
	padding: 0 5px;
}

.checkbox-container input {
	display: inline;
}

.search-icon-container {
	background-color: #fffb;
	border: solid 1px #bbb;
	padding: 4px 9px;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	right: 0;
    height: 100%;
    display: flex;
}

.search-icon-container i,
.close-icon-container i{
    margin: auto;
}

.close-icon-container {
	position: absolute;
	right: 40px;
	font-size: 23px;
	color: #0000008f;
	cursor: pointer;
    height: 100%;
    display: flex;
}

.search-container {
	position: relative;
	display: flex;
	max-width: 400px;
	margin: auto;
}

.search-container input {
	border: solid #bbb 1px;
	width: 100%;
	height: 33px;
	border-right: 0;
}

.images-container li .img {
	background-size: cover;
	background-position-x: center;
	position: relative;
}

.images-container li .header {
	background-color: #F2F2F2;
	padding: 15px 20px;
	font-size: 16px;
	text-align: center;
}

.images-container li:hover {
	cursor: pointer;
}

.images-container li .date {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #eaeaead4;
	padding: 3px 5px 0;
	text-align: center;
}

.big-image-container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1b1d24;
}

.big-image-container img {
	max-height: 100%;
	max-width: 100%;
}

.big-image-container .close {
	height: 32px;
	width: 32px;
	display: inline-block;
	transform: rotate(45deg);
	position: fixed;
	top: 20px;
	right: 20px;
	background: #2225;
	border-radius: 50%;
}

.images-container li .date {
	color: #474747;
}

.close-item {
	width: 15px;
	height: 15px;
	float: left;
	border: solid 1px #fff;
}

.close:hover {
	cursor: pointer;
}

.images-container .one_quarter {
	width: 22.69938650306748%;
	margin: 0 0 3.06748466257669% 3.06748466257669%;
	float: left;
	clear: none;
}

.img-title {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	background: black;
	color: #fff;
	padding: 0 2px;
	margin-right: 10px;
}

.img:hover .img-title {
	display: block;
}

.container-404 {
	padding: 75px 0;
	text-align: center;
}

.header404 {
	width: max-content;
	margin: 20px auto 0;
	max-width: 100%;
}

.recommendations {
	padding: 30px 0 0;
	display: flex;
	justify-content: space-between;
}

.recommendations .one_third {
	border: solid 1px var(--company-color);
	margin: 0 0 3.06748466257669% 10px;
	cursor: pointer;
	background: var(--company-color);
}

.recommendations a {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.recommendations img {
	width: 100%	;
}

.recommendation-button {
	flex-grow: 1;
	display: grid;
	place-items: center;
	background: var(--company-color);
	color: #fff;
	width: 100%;
	padding: 10px 20px;
	text-align: center;
	font-size: 17px;
	border-top: solid 1px var(--company-color);
}

.recommendation-button:hover {
	background: #fff;
	color: var(--company-color);
}

.checkbox-container span {
	display: inline-block;
}

#tables th {text-align: center;}

.halloween #tables {color: #fff}

table.tovar-table__row {
	table-layout: fixed;
}

/* -------------settings---------------*/
.settings-button-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
    z-index: 999;
	display: flex;
	align-items: center;
}

.settings-button {
	padding: 45px 0;
	height: 0;
	width: 0;
	color: #000;
	border-right: 30px solid #FF9118CC;
	border-bottom: 24px solid transparent;
	border-top: 24px solid transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.settings-button:hover {
	border-right-color: #ddd;
	color: var(--company-color);
}

.settings-button__icon {
	padding-left: 4px;
	font-size: 30px;
}

#settings-menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 1000;
}

.settings-button-container__close {
	flex-grow: 1;
	position: relative;
	background: #cccb;
}

.settings-body {
	width: 565px;
	background: #fff;
	overflow: auto;
}

.settings-menu {
	padding: 10px;
	background: #f1f1f1;
	position: relative;
}

.settings-menu__item {
	width: max-content;
	padding: 5px 20px;
	background: #dfdfdf;
	border-radius: 8px;
	color: var(--company-color);
	cursor: pointer;
}

.settings-menu__close-container {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.settings-menu__close-button {
	font-size: 24px;
	color: #333;
	cursor: pointer;
}

.settings-menu__item:hover {
	color: #fff;
	background: var(--company-color);
}

.settings__themes {
	padding: 5px 0;
}

.theme {
	height: 120px;
	padding: 5px;
	display: flex;
	position: relative;
	border-bottom: solid 1px #dedede;
}

.theme:last-child {
	border: none;
}

.theme__img {
	height: 100%;
	background-size: cover;
	min-width: 140px;
	background-position: center;
	width: 140px;
}

.theme__text {
	flex-grow: 1;
	padding: 0 5px 0 10px;
	color: #000;
	display: flex;
	flex-flow: column;
}

.theme__text_header {
	margin-bottom: 8px;
}

.theme__text_description {
	font-size: 13px;
	line-height: 20px;
	color: #333;
	flex-grow: 1;
}

.theme__text_button {
	position: absolute;
	bottom: 5px;
	right: 10px;
	float: right;
	cursor: pointer;
}

.themes__checkbox {
	padding: 5px;
	color: #333333;
}

.themes__checkbox * {
	display: inline;
	cursor: pointer;
}
/*-------------------settings-end----------------------*/
.programs__img {
	min-width: 50%;
	max-width: 100%;
	display: block;
	margin: 0 auto 20px;
	height: auto;
	max-height: 400px;
}

.plus-minus-container {
	display: flex;
	width: 100%;
	margin: 15px 0;
}

.plus-minus-container ul {
	width: 50%;
	font-family: FontAwesome;
	font-size: 14px;
	display: inline-block;
	border-right: solid 1px #bcbcbc;
}

.plus-minus-container ul:last-child {
	border: none;
}

.plus-minus-container ul div {
	width: max-content;
	float: right;
	clear: both;
	padding-right: 30px;
	max-width: 100%;
}

.plus-minus-container ul li {
	padding: 0 0 0 10px;
}

.plus-minus-container ul li * {
	font-family: var(--site-font-family);
	font-size: 16px;
}

.notification {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 200px;
	background: #eee;
	padding: 10px;
	color: #333;
}

.notification div {
	position: relative;
}

.notification i {
	position: absolute;
	top: -10px;
	right: -7px;
	font-size: 20px;
}

section.container>button.btn {
	margin: 1.53374233129% auto 35px;
	display: block;
}

.margin-30 {
	margin-bottom: 30px;
}

.margin--30 {
	margin-top: -30px;
}

/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 901px) {
	.images-container .one_quarter:nth-child(4n-3) {
		margin-left: 0;
		clear: left;
	}
}

@media screen and (max-width: 995px){
	.hoc {
		max-width: 90%;
	}
}

@media screen and (max-width:900px){
	#header{padding:30px 0;}
	#header #logo{margin:0; width: 100%}

	.mainav ul{display:none;}
	.mainav form{display:block;}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#copyright p:first-of-type{margin-bottom:10px;}

	.menu__list{
		display: block !important;
	}

	.links-container {
		display: none;
	}

	.header__links-button{
		display: block;
	}

	.open {
		display: block !important;
	}

	ul.open {
		display: block !important;
	}

	li.open {
		display: block !important;
		padding: 10px;
	}

	.menu__list_list {
		display: block !important;
		left: 0;
		right: 0;
		width: auto !important;
	}

	.menu__link {
		color: var(--company-color);
		font-size: 20px;
		border-bottom: solid 1px #fff;
		cursor: pointer;
		width: 100%;
		text-align: left;
	}

	.menu__link:last-child {
		border: none
	}

	.menu__link:hover {
		background: var(--company-color) !important;
	}

	.menu__link:hover a {
		color: #fff !important;
	}

	.menu__link a {
		text-decoration: none;
		color: inherit;
		padding: 30px !important;
	}

	.menu__link.active {
		background: var(--company-color) !important;
	}

	.menu__link.active a {
		color: #fff !important;
	}

	.menu__list_list_link a:hover {
		background: var(--company-color) !important;
		color: #FFFFFF;
	}

	.preimushestvo-wrapper,
	.donater {
		width: 49% !important;
	}

	@media screen and (min-width: 751px) {
		.images-container .one_quarter {
			width: 31.28834355828221%;
			margin: 0 0 3.06748466257669% 3.06748466257669%;
			float: left;
			clear: none;
		}

		.images-container .one_quarter:nth-child(3n-2) {
			margin-left: 0;
			clear: left;
		}
	}

	.article {
		margin-left: -50px;
		margin-right: -50px;
	}
}

@media screen and (max-width: 800px) {
	.plus-minus-container {
		display: block;
	}

	.plus-minus-container ul {
		width: 100%;
		border-right: none;
		border-bottom: solid 1px #bcbcbc;
		margin: 0;
		padding-bottom: 14px;
	}

	.plus-minus-container ul:last-child {
		padding-top: 14px;
		padding-bottom: 0;
	}

	.plus-minus-container ul div {
		float: none;
	}
}

@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 auto 50px; padding:0;}
	.one_third.first, .one_quarter.first {margin-left: auto !important;}

	.recommendations {display: block;}
	.recommendations .one_third {margin-left: 0;}

	#header{text-align:center;}

	#pageintro .transbox{max-width:none;}

	.sectiontitle{max-width:none;}

	.latest article{max-width:320px;}

	#footer{padding-bottom:30px;}/* Not needed, just looks better. Compensates for the grid elements bottom margin when stacked */

	.footer__plateg:first-child {
		padding-right: 10px !important;
	}

	.footer__plateg-container {
		display: flex;
	}

	.images-container .one_quarter {
		width:48.46625766871166%;
		margin: 0 0 3.06748466257669% 3.06748466257669%;
		float: left;
		clear: none;
	}

	.images-container .one_quarter:nth-child(2n-1) {
		margin-left: 0;
		clear: left;
	}
}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 719px){
	.widget-container iframe {
		border: solid var(--company-color) 4px;
		border-radius: 5px;
	}
}

@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	.preimushestvo-wrapper,
	.donater {
		width: 100% !important;
	}

	.selector {
		margin: 0 -10px;
	}

	.row3 {
		padding: 10px;
	}

	.article {
		margin-left: -10px;
		margin-right: -10px;
	}

	.table-container {
		margin: 0;
	}
}

@media screen and (max-width: 621px){
	.widget-container iframe {
		border-radius: 0;
	}

	.widget-container {
		margin: 0 -10px
	}
}

@media screen and (max-width: 564px) {
	.theme {
		flex-flow: column;
		height: unset;
		padding: 10px 5px;
	}

	.theme__img {
		height: 250px;
		width: 100%;
	}

	.theme__text_button {
		position: static;
	}
}

@media screen and (max-width: 450px){
	.images-container .one_quarter {
		display:block; float:none; width:auto; margin:0 0 50px 0; padding:0;
	}
}

@media screen and (max-width: 411px) {
	.selector__image-container {
		padding: 0 0;
	}

	.selector {
		padding: 0;
	}

	.variant__menu {
		margin: 0;
	}

	.variant-body {
		padding: 0 10px;
	}
}

@media screen and (max-width: 366px) {
	.footer__plateg {
		width: 100%;
	}

	.selector__image-container {
		padding: 0;
	}

	.variant__menu {
		justify-content: space-between;
	}
}

/* Animations
--------------------------------------------------------------------------------------------------------------- */

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
